@model ReturnOrderPortal.Models.ProcessResponse

@{
    ViewData["Title"] = "ProcessResponse";
}

<h1>ProcessResponse</h1>



<h3>Request Id:@Model.RequestId</h3>
<br />
<h3>Processing Charge:@Model.ProcessingCharge</h3>
<br />
<h3>PackagingAndDeliveryCharge:@Model.PackagingAndDeliveryCharge</h3>
<br />
<h3>Date Of Delivery:@Model.DateOfDelivery</h3>

@Html.ActionLink("Confirm","Confirmation","User")